* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}

footer {
    margin: 0;
    padding: 0;
}


.introduction{
    border: 2px black;
    margin-top: 4%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 19%;
}

.une_jam{
    border: 2px black;
    font-size: 18px;
    line-height: 30px;
}

#about{
    display: none;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    list-style-type: None;
    width: 100%;
    text-align: center;
    padding: 70px 0;
    height: auto;
}

.contact p{
    margin: 0 0;
} 

footer {
    margin: 0;
    padding: 0;
}



@media (max-width: 1450px) {
    .introduction{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 30%;
    } 
    .une_jam{
        border: 2px black;
        font-size: 10px;
        line-height: 30px;
    }

    .contact {
        padding: 60px 0;
    }
    
}

@media (max-width: 1350px) {
    .introduction{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 20%;
    } 

    .contact {
        padding: 60px 0;
    }
    

}


@media (max-width: 1220px) {
    .introduction{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 20%;
    } 
}


@media (max-width: 860px){
    .introduction{
        margin-top: 9%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 20%;
    } 

    .une_jam p {
        line-height: 20px;
    }

}


@media (max-width: 700px){     
    .introduction{
        margin-top: 9%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 20%;
    } 
    .une_jam p {
        line-height: 20px;
    }


    .contact {
        padding: 50px 0;
    }

}


@media (max-width: 599px){
    .introduction{
        margin-top: 9%;
        margin-right: 4%;
        margin-left: 4%;
        margin-bottom: 25%;
    } 

    .une_jam p{
        line-height: 25px;
    }

}
    
@media (max-width: 550px){
        .introduction{
            margin-top: 9%;
            margin-right: 4%;
            margin-left: 4%;
            margin-bottom: 25%;
        } 
    
        .une_jam p{
            font-size: 10px;
            line-height: 25px;
        }

}


@media (max-width: 499px){
    .introduction{
        margin-top: 12%;
        margin-right: 3%;
        margin-left: 3%;
        margin-bottom: 45%;
    } 

    .une_jam p{
        line-height: 25px;
    }

}