/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=IM+Fell+English:ital@0;1&display=swap');


html {
  font-size: 100%; /* 16px */
}

*{
    /* background-color: #fff1e5; */
    background-color:  rgb(242, 242, 241);
    color: #212121; /* Dark text color for contrast */
} 


/* 
h1.protest-revolution-regular {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* Set the background and text color when text is selected */
/* For all browsers */

header {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 70px; /* Adjust as needed */
    border-bottom: 1px solid black;
    box-shadow: 0 2px 5px black; /* Adds slight shade below the header */
    background-color: black;
    color:  white;
    position: fixed; /* Fixes the header at the top of the viewport */
    top: 0; /* Aligns the header at the top edge of the viewport */
    left: 0; /* Aligns the header at the left edge of the viewport */
    right: 0; /* Ensures the header stretches to the right edge of the viewport */
    z-index: 1000; /* Ensures the header stays above other content */
    
}

.header_title{
  font-family: "IM Fell English SC", serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: auto;
}

.header_title a {
  text-align: center;
  color:  rgb(252, 238, 225);
  background-color:  black;
  font-weight: bold; /* Make text bold */
  font-size: 30px;
  text-decoration: none;
}

.header_title{
  font-family: "IM Fell English SC", serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: auto;
}

.header_title a {
  text-align: center;
  color:  rgb(252, 238, 225);
  background-color:  black;
  font-weight: bold; /* Make text bold */
  font-size: 35px;
  text-decoration: none;
}

@media (max-width: 1220px) {
  .header_title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
  }

  .header_title a {
    display: block;
    width: 98%;
    text-align: center;
  }
}

.ad-container {
    padding: 20px;
    text-align: center; /* Or any other styling as per your ad design */
}

/* Hide ad container if it's empty */
.ad-container:empty {
    display: none;
}



#about{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  padding: 50px 0;
  background-color:  #212121;
}

#about .prezantim {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: #212121;
  padding: 0 0; 
  text-align: center;
}


#about .prezantim a{
  color: white;
  background-color: #212121;
  text-decoration: none;
  font-size: larger;
  display: block;
  text-align: center;
}


#about .prezantim a:hover, #about .prezantim a:focus {
  text-decoration: none; 
  color: red;
  font-size: 20x;
}

#about .prezantim a::selection {
  background-color: rgb(0, 254, 254);
  color: black;
}

footer{
  margin: 0;
  padding: 0;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  padding: 50px 0;
  width: 100%;
  background-color:  black;

}

.contact p{
  color: white;
  font-size: larger;
  text-align: center; /* Centers the text inside the paragraph */
  margin: 0 auto; /* Removes default margin */
  padding: 0; /* Adjust padding as needed, auto is not a valid value for padding */
  background-color: black;
  width: fit-content;
}


.header_title a::selection{
  background-color:  rgb(0, 254, 254);
  color: black;
}

input::selection, 
textarea::selection {
  background-color:  rgb(0, 254, 254);
  color: black;
}


@media screen and (max-width: 768px) {
    /* Hide or adjust ad container for mobile devices */
    .ad-container:empty {
        display: none; /* Or adjust as necessary */
    }
}

p {
  font-size: 1em; /* 16px for body text */
  margin-bottom: 1em; /* Adds space between paragraphs for better readability */
}


h1 {
  font-size: 2em; /* 32px */
}

h2 {
  font-size: 1.75em; /* 28px */
}

h3 {
  font-size: 1.5em; /* 24px */
}

h4 {
  font-size: 1.25em; /* 20px */
}

h5 {
  font-size: 1.125em; /* 18px */
}

h6 {
  font-size: 1em; /* 16px, same as body text for consistency */
}

p {
  font-size: 1em; /* 16px for body text */
  margin-bottom: 1em; /* Adds space between paragraphs for better readability */
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  h1 {
      font-size: 1.75em; /* Adjusted for mobile */
  }
  h2 {
      font-size: 1.5em; /* Slightly smaller than h1 for hierarchy */
  }
  h3 {
      font-size: 1.25em; /* Slightly smaller than h2 */
  }
  h4 {
      font-size: 1.125em; /* Slightly smaller than h3 */
  }
  h5 {
      font-size: 1em; /* Close to body text size, but maintains hierarchy */
  }
  h6 {
      font-size: 0.875em; /* The smallest heading, slightly smaller than body text */
  }
  p {
      font-size: 1em; /* Adjust as needed for readability */
      line-height: 1.5em; /* Enhances readability by increasing the space between lines */
      font-weight: 600;
  }
}


@media (max-width: 1450px) {
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 35px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    padding: 35px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    
  }
  
}

@media (max-width: 1350px) {
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 35px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    padding: 35px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    
  }
}


@media (max-width: 1220px) {
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 35px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    padding: 35px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    
  }

}


@media (max-width: 860px){
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 35px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }

  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    padding: 35px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    width: fit-content;
  }
}

@media (max-width: 700px){     
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 15px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    padding: 15px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    width: fit-content;
  }


}


@media (max-width: 599px){
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 15px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    padding: 15px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    width: fit-content;
  }

}
  
@media (max-width: 550px){
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 15px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    padding: 15px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    width: fit-content;
  }
     

}


@media (max-width: 499px){
  #about{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 15px 0;
    background-color:  #212121;
  }

  #about .prezantim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212121;
    padding: 0 0;
    text-align: center;
  }


  #about .prezantim a{
    color: white;
    background-color: #212121;
    text-decoration: none;
    font-size: 15px;
    display: block;
    text-align: center;
  }


  #about .prezantim a:hover, #about .prezantim a:focus {
    text-decoration: none; 
    color: red;
    font-size: 22px;
  }

  #about .prezantim a::selection {
    background-color: rgb(0, 254, 254);
    color: black;
  }

  footer{
    margin: 0;
    padding: 0;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "IM Fell English SC", serif;
    font-weight: 300;
    font-style: normal;
    padding: 15px 0px;
    width: 100%;
    background-color:  black;
  }

  .contact p{
    color: white;
    font-size: 15px;
    text-align: center; 
    margin: 0 auto; 
    padding: 0; 
    background-color: black;
    width: fit-content;
  }

}


