html, body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0 auto;
    width:100%;
    background-color:  rgb(242, 242, 241);
}


#fa_article_content{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap as needed */
    align-items: flex-start; /* Aligns items at the start of the flex container */
}

#fa_article_content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "letters image"; 
    padding: 20px 20px;
    background-color: black;
    margin: 31px 0 0;
    overflow: hidden;
    min-height: 92vh;
} 

.fa_image{
    margin-right: 20px;
    margin-left: auto;
    grid-area: image;
    min-width: 90%;
    min-height: 90vh; 
    width: auto;
    background-size: cover; 
    background-position: center; 
    border-radius: 8px;
}  


.fa_article_letters{
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: letters;
    height: 100%;
    width: 100%; 
    color: white;
}


.fa_article_letters .fa_title_{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.fa_article_letters .fa_excerpt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


.fa_article_letters h2,
.fa_article_letters h6,
.fa_article_letters p,
.fa_article_letters a {
    color: white; /* Override color for all text within .fa_main_content */
    background-color: black; /* Optional: if you want to ensure no background color */
    text-decoration: none; /* Ensures links have no underline, if that's the desired effect */
}


.fa_main_content {
    background-color: rgb(242, 242, 241); /* Sets the background of the span to white */
    color: black; /* Ensures the text color is black, or choose another contrasting color */
    /* Add padding if you want some space around the text inside the span */
    padding: 5px; /* Example padding, adjust as needed */
}

.fa_full_article_content{
    margin-top: 0;
    margin-bottom: 5.5%;
    margin-left: 20%;
    margin-right: 20%;
}

.fa_main_content {
    display: block; /* or inline-block */
    /* other styles */
}

.fa_full_article_content .fa_main_content::first-letter {
    font-weight: bold;
    font-size: 200%; /* Adjust the size as needed */
    color: red;
}

.fa_article_letters h2.germania-one-regular {
    font-family: "Germania One", system-ui;
    font-weight: 400px;
    font-size: 36px;
}


.fa_article_letters .fa_excerpt.im-fell-english-regular{
    font-family: "IM Fell English", serif;
    font-size: 22px; /* Adjust the font size as needed */
}


.fa_article_letters h6.im-fell-english-regular,
.fa_article_letters .fa_author.im-fell-english-regular,
.fa_article_letters .fa_time.im-fell-english-regular {
    font-family: "IM Fell English", serif;
    font-weight: 300px;
    font-style: normal;
}

.fa_article_letters .fa_author.im-fell-english-regular{
    font-size: 19px;
}
.fa_article_letters .fa_time.im-fell-english-regular{
    font-size: 21px;
}

.fa_full_article_content p{
    line-height: 30px;
    font-size: 30px;
    font-weight: normal;
}

.fa_full_article_content, 
.fa_full_article_content *, 
.fa_full_article_content .post_thumb,
.fa_full_article_content p,
.fa_full_article_content tr {
    font-family: 'IM Fell English', serif !important;
    font-size: 22px !important;
    line-height: 30px !important;
}


.fa_article_letters p.fa_author:hover,
.fa_article_letters p.fa_author:focus{
    color: lightgray;
    font-size: 22px;
    font-weight: bold;
}

.fa_article_letters *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}


.fa_full_article_content *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}


@media (max-width: 1220px) {
    #fa_article_content{
        padding-top: 18px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 20px; 
        grid-template-areas:
            "letters letters"
            "image image"; 
        background-color: black;
        min-height: 95vh;
    } 
    .fa_article_letters{
        background-color: black;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: letters;
        /* margin-left: auto;*/
        height: auto;
        width: 95%; 
        color: white;
    }

    .fa_image{
        grid-area: image;
        margin: 0 auto;
        width: 100%;
        min-height: 750px;   
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
    }

    .fa_article_letters .fa_title_{
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }
    
    .fa_article_letters .fa_excerpt{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .fa_article_letters .fa_author{
        margin-bottom: 0;
        font-size: large;
    }
    .fa_full_article_content{
        margin-top: auto;
        padding-top: auto;
        /* margin-left: 3%;
        margin-right: 2%; */
        padding-bottom: 50px;
        line-height: 3.5;
    }

    .fa_full_article_content .fa_main_content{
        padding-top: 0;
        line-height: 3.5;
        font-size: 12px;
    }

    p.fa_main_content.im-fell-english-regular {
        font-size: 12px;
        line-height: 10px;
    }

    .fa_main_content.im-fell-english-regular p {
        font-size: 15px;
        line-height: 1.5em;
        /* font-family: 'IM Fell English', serif; */
    }
     
}


@media (max-width: 860px){
    #fa_article_content{
        padding-top: 50px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 20px; 
        grid-template-areas:
            "letters letters"
            "image image"; 
        background-color: black;
    } 
    .fa_article_letters{
        background-color: black;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: letters;
        /* margin-left: auto;*/
        height: auto;
        width: 95%; 
    }
    .fa_image{
        /* margin-right: 20px;
        margin-left: auto; */
        grid-area: image;
        margin: 0 auto;
        width: 100%;
        /* min-height: 100%; */
        /* min-height: 615px;   */
        height: 65vh;
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
    }

    .fa_full_article_content{
        margin-top: auto;
        padding-top: auto;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 50px;
    }

    .fa_full_article_content .fa_main_content{
        padding-top: 0;
    }

    p.fa_main_content.im-fell-english-regular {
        font-size: 15px;
        line-height: 1.5em;
    }

    .fa_main_content.im-fell-english-regular p {
        font-size: 15px;
        line-height: 1.5em;
        /* font-family: 'IM Fell English', serif; */
    }

} 

@media (max-width: 700px){     
    #fa_article_content{
        padding-top: 18px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 20px; 
        grid-template-areas:
            "letters letters"
            "image image"; 
        background-color: black;
    } 
    .fa_article_letters{
        background-color: black;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: letters;
        /* margin-left: auto;*/
        height: auto;
        width: 95%; 
    }
    .fa_image{
        /* margin-right: 20px;
        margin-left: auto; */
        grid-area: image;
        margin: 0 auto;
        width: 100%;
        /* min-height: 100%; */
        min-height: 610px;  
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
    }

    .fa_main_content.im-fell-english-regular p {
        font-size: 15px;
        line-height: 1.5em;
        /* font-family: 'IM Fell English', serif; */
    }

   
    /* p.fa_main_content.im-fell-english-regular {
        font-size: 12px;
        line-height: 1.5em;
    } */
/* 
    p.fa_main_content.im-fell-english-regular {
        font-size: 15px;
        line-height: 1.5em;
    } */

}


@media (max-width: 599px){
    #fa_article_content{
        padding-top: 18px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-column-gap: 20px; 
        grid-template-areas:
            "letters letters"
            "image image"; 
        background-color: black;
    } 
    .fa_article_letters{
        background-color: black;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: letters;
        height: auto;
        width: 95%; 
    }

    .fa_image{
        grid-area: image;
        margin: 0 auto;
        width: 100%;
        min-height: 590px;  
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
    }

    .fa_article_letters .fa_title_ {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-size: 30px; */
        /* font-weight: 500; */
    }
    
    .fa_article_letters .fa_excerpt{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .fa_article_letters .fa_author{
        margin-bottom: 0;
    }
    .fa_full_article_content{
        margin-top: auto;
        padding-top: auto;
        margin-left: 2%;
        margin-right: 2%; 
        padding-bottom: 50px;
        line-height: 3.5;
        /* font-size: 15px; */
    }

    .fa_article_letters h2.germania-one-regular {
        font-family: "Germania One", system-ui;
        font-weight: 900;
        font-size: 35px;
    }
    
    .fa_article_letters .fa_excerpt.h2.im-fell-english-regular{
        font-family: "IM Fell English", serif;
        font-size: 20px; /* Adjust the font size as needed */
    }

    /* p.fa_main_content.im-fell-english-regular {
        font-size: 12px;
        line-height: 1.5em;
    } */

    .fa_main_content.im-fell-english-regular p {
        font-size: 15px;
        line-height: 1.5em;
        /* font-family: 'IM Fell English', serif; */
    }

    .fa_main_content.im-fell-english-regular p {
        font-size: 15px;
        line-height: 1.5em;
        /* font-family: 'IM Fell English', serif; */
    }

} 

@media (max-width: 499px){
    #fa_article_content{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "letters letters"
            "image image"; 
        padding: 25px 20px;
        background-color: black;
        margin-top: 0;
        width: 100%;
    } 

    .fa_image{
        width: 100%;
        min-height: 550px;
    }

    .fa_article_letters .fa_title_.germania-one-regular{
        margin-top: 10px;
        font-size: 30px;
    }

    .fa_article_letters .fa_excerpt.im-fell-english-regular{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .fa_full_article_content {
        margin-top: auto;
        padding-top: auto;
        margin-left: 2.7%;
        margin-right: 2.5%;
        padding-bottom: 50px;
        
    }


    p.fa_main_content.im-fell-english-regular{
        padding-top: 0;
        padding-left: 1px;
        padding-right: 5px;
    }  

    /* p.fa_main_content.im-fell-english-regular {
        font-size: 14px;
        line-height: 12px;
    } */

    p.fa_main_content.im-fell-english-regular {
        font-size: 12px;
        line-height: 1.5em;
    }

    
    .fa_main_content.im-fell-english-regular p {
        font-size: 12px;
        line-height: 1.5em;
        /* font-family: 'IM Fell English', serif; */
    }
/* 
    #fa_sidebar #fa_advertisement::empty{
        border: 3px solid greenyellow;
        min-height: 25vh;
        height: auto;
        min-width: 95%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
    }
     */

}


/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/

#fa_sidebar #fa_advertisement::empty{
    border: 3px solid greenyellow;
    min-height: 25vh;
    height: auto;
    min-width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/




/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */

#fa_second_sidebar #fa_second_advertisement::empty{
    border: 3px solid greenyellow;
    min-height: 18vh;
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */


