html, body{
    overflow-x: hidden;
}

html *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}

.introduction{
    border: 2px black;
    margin-top: 10%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 15%;
}

.une_jam{
    border: 2px black;
    font-size: 18px;
    line-height: 30px;
}

#about{
    display: none;
}

.contact{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Additional styling */
}

