html, body{
    overflow-x: hidden;
}

html *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}

.introduction{
    border: 2px black;
    margin-top: 4%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 19%;
}

.une_jam{
    border: 2px black;
    font-size: 18px;
    line-height: 30px;
}

#about{
    display: none;
}

.contact{
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Additional styling */
}



@media (max-width: 1450px) {
    .introduction{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 30%;
    } 
}

@media (max-width: 1350px) {
    .introduction{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 35%;
    } 
}


@media (max-width: 1220px) {
    .introduction{
        margin-top: 5%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 43%;
    } 
}


@media (max-width: 860px){
    .introduction{
        margin-top: 9%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 42%;
    } 
}


@media (max-width: 700px){     
    .introduction{
        margin-top: 9%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 42%;
    } 

}


@media (max-width: 599px){
    .introduction{
        margin-top: 9%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 45%;
    } 
}


@media (max-width: 499px){
    .introduction{
        margin-top: 9%;
        margin-right: 10%;
        margin-left: 10%;
        margin-bottom: 45%;
    } 

}