/* 

<section id = 'fa_all'>
    <section id = 'fa_article_content'>

        <div class='fa_article_letters'>
            <div class='fa_title_container'><h2 class= 'fa_title_'>{{article_full.title}}</h2></div>
            <div class='fa_excerpt_container'><h6 class='fa_excerpt'> {{article_full.excerpt}}</h6></div>
            <div class='fa_author_container'><p class='fa_author'>Nga {{articlle_full.author.full_name}} </p></div>
            <div class='fa_date_container'><p class='fa_time'>Data: {{article_full.created_at}}</p></div>
        </div>

        <div class='fa_image'>
            <img src={{article_full.image.url}} alt= {{article_full.title}}>
        </div>

    </section>
    <section id="fa_sidebar">
        <div id="fa_advertisement">
            <!-- Example image advertisement -->
            {% comment %} <img src="path/to/advertisement.jpg" alt="Advertisement">

            <!-- Example video advertisement -->
            <video controls>
                <source src="path/to/advertisement.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> {% endcomment %}
        </div>
    </section>
<section>

<main>
    {{article_full.content|safe}}
</main>

*/

html, body{
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0 auto;
    width:100%;
    background-color:  white;
}


#fa_article_content{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap as needed */
    align-items: flex-start; /* Aligns items at the start of the flex container */
}


#fa_article_content{
    padding-top: 25px;
    margin-top: 31px;
    display: grid;
    grid-template-columns: 2fr 3.5fr;
    grid-column-gap: 10px;
    grid-template-areas:
        "letters image"; 
    padding-bottom: 20px;
    background-color: black;
    min-height: 850px;
    margin-bottom: 0;
    overflow: hidden;
} 

.fa_image{
    margin-right: 20px;
    margin-left: auto;
    grid-area: image;
    min-width: 80%;
    height: 100%;
    width: auto;
    background-size: cover; 
    background-position: center; 
    border-radius: 8px;
}


.fa_article_letters{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: letters;
    margin-left: auto;
    height: 100%;
    width: 90%;
    color: white;
}


.fa_article_letters .fa_title_{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.fa_article_letters .fa_excerpt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.fa_article_letters h2,
.fa_article_letters h6,
.fa_article_letters p,
.fa_article_letters a {
    color: white; /* Override color for all text within .fa_main_content */
    background-color: black; /* Optional: if you want to ensure no background color */
    text-decoration: none; /* Ensures links have no underline, if that's the desired effect */
}


.fa_main_content {
    background-color: rgb(242, 242, 241); /* Sets the background of the span to white */
    color: black; /* Ensures the text color is black, or choose another contrasting color */
    /* Add padding if you want some space around the text inside the span */
    padding: 5px; /* Example padding, adjust as needed */
}

.fa_full_article_content{
    margin-top: 0;
    margin-bottom: 5.5%;
    margin-left: 20%;
    margin-right: 35%;
}

.fa_main_content {
    display: block; /* or inline-block */
    /* other styles */
}

.fa_full_article_content .fa_main_content::first-letter {
    font-weight: bold;
    font-size: 200%; /* Adjust the size as needed */
    color: red;
}


.fa_article_letters h2.germania-one-regular {
    font-family: "Germania One", system-ui;
    font-weight: 400;
}

.fa_article_letters h6.im-fell-english-regular,
.fa_article_letters .fa_author.im-fell-english-regular,
.fa_article_letters .fa_time.im-fell-english-regular {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
}


.fa_full_article_content p{
    line-height: 30px;
    font-size: 25px;
    font-weight: normal;
}

.fa_full_article_content, 
.fa_full_article_content *, 
.fa_full_article_content .post_thumb,
.fa_full_article_content p,
.fa_full_article_content tr {
    font-family: 'IM Fell English', serif !important;
    font-size: 18px !important;
    line-height: 25px !important;
}


.fa_article_letters p.fa_author:hover,
.fa_article_letters p.fa_author:focus{
    color: lightgray;
    font-size: 18px;
    font-weight: bold;
}

.fa_article_letters *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}


.fa_full_article_content *::selection{
    background-color: rgb(20, 254, 254);
    color: black; 
}


@media (max-width: 1220px) {
    #fa_article_content{
        padding-top: 18px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-column-gap: 20px;
        grid-template-areas:
            "letters letters"
            "image image"; 
        background-color: black;
        min-height: 80vh;
    } 
    .fa_article_letters{
        background-color: black;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: letters;
        /* margin-left: auto;*/
        height: auto;
        width: 95%; 
        color: white;
    }

    .fa_image{
        /* margin-right: 20px;
        margin-left: auto; */
        grid-area: image;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        min-height: 700px; 
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
    }

    .fa_article_letters .fa_title_{
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }
    
    .fa_article_letters .fa_excerpt{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .fa_article_letters .fa_author{
        margin-bottom: 0;
    }
    .fa_full_article_content{
        margin-top: auto;
        padding-top: auto;
        /* margin-left: 3%;
        margin-right: 2%; */
        padding-bottom: 50px;
        line-height: 3.5;
    }

    .fa_full_article_content .fa_main_content{
        padding-top: 0;
        line-height: 3.5;
    }
    
}




@media (max-width: 810px){

    #fa_article_content{
        padding-top: 18px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 3fr 4fr;
        grid-column-gap: 20px;
        grid-template-areas:
            "letters letters"
            "image image"; 
        background-color: black;
        min-height: 60vh;
    } 
    .fa_article_letters{
        list-style-type: none;
        background-color: black;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: letters;
        /* margin-left: auto;*/
        height: auto;
        width: 90%; 
        color: white;
        padding-left: 5px;
        padding-right: 5px;
        /* border: 2px solid white; */
    }

    .fa_image{
        grid-area: image;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        min-height: 450px; 
        background-size: cover; 
        background-position: center; 
        border-radius: 8px;
    }

    .fa_full_article_content{
        margin-top: auto;
        padding-top: auto;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 50px;
    }

    .fa_full_article_content .fa_main_content{
        padding-top: 0;
    }
}



/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/

#fa_sidebar #fa_advertisement::empty{
    border: 3px solid greenyellow;
    min-height: 25vh;
    height: auto;
    min-width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/
/* working on the sidebars for advertisement*/




/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */

#fa_second_sidebar #fa_second_advertisement::empty{
    border: 3px solid greenyellow;
    min-height: 18vh;
    height: auto;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */
/* THIS IS THE ADVERTISEMENT */


